{{define "adminUpdateSection"}}
{{template "head"}}



  <div class="container">


    {{template "admin-navbar"}}

    <form action="/section/update" method="POST">

        <h1>Editing Section</h1>
        <hr>
        <h2>Course Name: {{.Section.CourseName}}</h2>
        <label class="form-group">Faculty</label>
        <input type="text" readonly value="{{.Section.SectionID}}" name="section-info" placeholder="{{.Section.FirstName}} {{.Section.LastName}}"><br>

        <label class="form-group">Current Bulding</label>
        <input type="text" readonly name="old-building" value="{{.Section.BuildingID}}" placeholder="{{.Section.BuildingName}}">

        <label class="form-group">New Bulding</label>
        <select name="new-building" id="building-select">
            <option disabled selected value="{{.Section.BuildingID}}">{{.Section.BuildingName}}</option>
            {{range .Buildings}}
            <option value="{{.BuildingID}}">{{.BuildingName}}</option>
            {{end}}
        </select><br>

        <label class="form-group">Current Room Number</label>
        <input type="text" readonly name="current-room" value={{.Section.RoomID}} placeholder="Number: {{.Section.RoomNumber}} -- Capacity: {{.Section.RoomCapacity}}"><br>

        <label class="form-group">New Room Number</label>
        <select name="new-room" id="room-results">
            <option disabled selected value="{{.Section.RoomID}}">Number: {{.Section.RoomNumber}} -- Capacity: {{.Section.RoomCapacity}}</option>

        </select>

        <input type="submit" class="btn btn-danger pull-right">

    </form>
  </div>
{{template "end"}}
{{end}}

