{{define "viewStudentScheduleAdmin"}}
{{template "head"}}
<div class="container">

    <h1>Welcome {{.FirstName}}</h1>
    <!--
    <ul class="nav nav-pills center-nav">
        <li role="presentation" class="active"><a href="index.html">Add Course</a></li>
        <li role="presentation"><a href="#">View Schedule</a></li>
        <li role="presentation"><a href="#">View Holds</a></li>
        <li role="presentation"><a href="#">View Transcript</a></li>
        <li role="presentation"><a href="#">View Advisor</a></li>
    </ul>
    -->

    {{template "admin-navbar"}}

    <h1>ViewStudent Schedule</h1>
    <!--
        <form action="/admin/student/{student}" id="requestData" class="form-horizontal" method="GET">

            <div class="form-group">
                <label class="control-label col-sm-1" for="name">Student Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Name" id="name" name="name">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-1" for="car">Student ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Student ID" id="id" name="id">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-1" for="car">Major</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Major" id="car" name="major">
                </div>
            </div>

            <input type="submit" value="submit" id="submit" class="btn btn-default pull-right">

        </form>
    -->



    <div class="contact-w3-agileits" id="contact" >
            <div class="col-md-12 contact-left-w3l" >
                <h3>Student Action</h3>
                <div class="visit">

                    <div class="clearfix"></div>
                </div>



                <div class="col-md-8 contact-left-w3l">

                    <form action="/admin/student/{student}" id="requestData" class="form-horizontal" method="GET">

                        <label class="form-group">Id</label>
                        <input type="text" class="form-control" name="id"><br />

                        <label class="form-group">Email</label>
                        <input type="text" class="form-control" name="email"><br />


                        <label class="form-group">Major</label>
                        <input type="text" class="form-control" name="major" placeholder=""><br />

                        <input type="submit" value="submit" id="submit" class="btn btn-default pull-right">

                    </form>

                </div>

                {{with .}}
                    <h4>user not found</h4>
                {{end}}
            </div>
        </div>
        <br/>
        <div class="container">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Major</th>
                    <th>Id</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>3</td>
                </tr>
                </tbody>
            </table>
        </div>

            <div class="clearfix"></div>
        </div>
    <div class="footer-w3l">
    <p> &copy; 2017 Starfleet . All Rights Reserved </a></p>
    </div>





{{template "end"}}
{{end}}