{{define "admin"}}
{{template "head"}}
<div class="container">

    <h1>Welcome {{.UserEmail}}</h1>

    <ul class="nav nav-pills center-nav">
        <li role="presentation" class="active"><a href="index.html">Add Course</a></li>
        <li role="presentation"><a href="#">View Schedule</a></li>
        <li role="presentation"><a href="#">View Holds</a></li>
        <li role="presentation"><a href="#">View Transcript</a></li>
        <li role="presentation"><a href="#">View Advisor</a></li>
    </ul>

</div>
{{template "end"}}
{{end}}