{{define "addCourseAdmin"}}
{{template "head"}}

{{template "admin-navbar"}}

<div class="contact-w3-agileits" id="contact" >
    <div class="container">
        <div class="col-md-12 contact-left-w3l" >
            <h3>Add Course</h3>
            <div class="visit">

                <div class="clearfix"></div>
            </div>

            <form action="/admin/course/{course}" id="requestData" class="form-horizontal" method="POST">


            <div class="col-md-8 contact-left-w3l">


                <label class="form-group">Course Name</label>
                <input type="text" class="form-control" name="name" placeholder="" required><p id="demo"></p><br />

                <label class="form-group">Course Credits</label>
                <input type="number" class="form-control" name="credits" placeholder="" required id="major" ><p style="color:red" id="demo1"></p><br />

                <label class="form-group">Course Description</label>
                <textarea type="text"  class="form-control" name="description" placeholder="" required id="sid"></textarea>

                <label class="form-group">Department Name</label>

                <select name="department" id="department-select" required class="form-control">
                    {{range .}}
                        <option value="{{.DepartmentID}}">{{.DepartmentName}}</option>
                    {{end}}
                </select>
                <br />

                <input type="submit" value="submit" id="submit" class="btn btn-default pull-right">


            </div>

            </form>
        </div>
    </div>

</div>
<script>

</script>
{{end}}