{{define "viewStudentHoldsAdmin"}}
{{template "head"}}
<div class="container">

    <h1>Welcome {{.FirstName}}</h1>

    {{template "admin-navbar"}}




    <form action="/admin/holds/{user}" id="requestData" class="form-horizontal" method="GET">

        <div class="form-group">
            <label class="control-label col-sm-1" for="email">Student Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" placeholder="Email" required id="email" name="email">
            </div>
        </div>

        <input type="submit" value="submit" id="submit" class="btn btn-default pull-right">

    </form>


</div>


<script>

</script>

{{template "end"}}
{{end}}