{{define "viewNewUserAdmin"}}
{{template "head"}}

<div class="container">
    <h1>Welcome {{.FirstName}}</h1>
    {{template "admin-navbar"}}
    <h1>Create New User</h1>
    <div class="contact-w3-agileits" id="contact" >
        <div class="col-md-12 contact-left-w3l" >
            <h3>User Information</h3>
            <div class="visit">
                <div class="clearfix"></div>
            </div>
            <!--universal user info here-->
            {{ if .error }}
                {{ .error }}
            {{ end }}

            {{ if not .User }}
                {{ template "adminUserDetail" }}
            {{ else }}
            <!--put detail for user types here..-->
                {{ if .student }}
                    {{ template "adminStudentDetail" . }}
                {{ else if .faculty }}
                    {{ template "adminFacultyDetail" . }}
                {{ end }}
            {{ end }}
        </div>
    </div>
    <br/>
    <div class="clearfix"></div>
</div>

{{template "end"}}
{{end}}