{{define "adminViewStudentScheduleDetails"}}
{{template "head"}}

<div class="container">



    {{if .}}
        {{range .}}
            <div class="course_details">
                <p>Course Name: {{.CourseName}}</p>
                <p>Course Credits: {{.CourseCredits}}</p>
                <p>Room Number: {{.RoomNumber}}</p>
                <p>Building Name: {{.BuildingName}}</p>
                <p>Time: {{.Time}}</p>
                <p>Meeting Days: {{.MeetingDay}}</p>
                <p>Professor: {{.FirstName}} - {{.LastName}}</p>
            </div>
            <hr>
        {{end}}
        {{else}}
            <h1>Error loading course details</h1>
        {{end}}



</div>

{{template "end"}}
{{end}}

