{{define "adminStudentHold"}}
{{template "head"}}

<div class="container">

    {{template "admin-navbar"}}

    {{if .User.FirstName}}
    <h1>Holds for {{.User.FirstName}} {{.User.LastName}}</h1>
    {{$user := .User.UserID}}
        <hr>
    {{if .Holds}}
        {{range .Holds}}
            <h2>Hold name: {{.HoldName}}</h2>
    <form action="/admin/holds/{{$user}}/{{.HoldID}}" method="POST" id="{{.HoldID}}">
        <input type="submit" value="Remove Hold"
               class="btn btn-default pull-right">
    </form>
            <hr>
        {{end}}

        {{else}}
            <h1>No holds for this user</h1>
        {{end}}
    {{end}}



</div>

{{template "end"}}
{{end}}

