{{define "faculty-navbar"}}
<div class="logo-navigation-w3layouts" style="border-bottom:double">
    <div class="container">
        <div class="logo-w3">
            <a href="#"><h1><span><img style="width:59%;height:110px;" src="../../../public/pics/5.png" /></span></h1></a>
        </div>
        <div class="navigation agileits w3layouts">
            <nav class="navbar agileits w3layouts navbar-default">
                <div class="navbar-header agileits w3layouts">
                    <button type="button" class="navbar-toggle agileits w3layouts collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only agileits w3layouts">Toggle navigation</span>
                        <span class="icon-bar agileits w3layouts"></span>
                        <span class="icon-bar agileits w3layouts"></span>
                        <span class="icon-bar agileits w3layouts"></span>
                    </button>
                </div>
                <div class="navbar navbar-inverse" style="margin-top:40px;margin-left:335px; background-color:transparent;border-style:none;">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">

                            <li class="dropdown" style="background-color: black; margin: 5px">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                    Grading
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu" style="background-color: bisque;">
                                    <li style="color:wheat"><a class="scroll" href="/faculty/grades">Submit Grades</a>

                                </ul>
                            </li>
                            <li class="dropdown" style="background-color: black; margin: 5px">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                    View Student
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu" style="background-color: bisque; ">
                                    <li><a class="scroll" href="/admin/student">View Schedule</a>
                                    <li><a class="scroll" href="/admin/transcript">View Transcript</a>


                                </ul>
                            </li>
                            <li class="dropdown" style="background-color: black; margin: 5px">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                    View Work Schedule
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu" style="background-color: bisque">
                                    <li><a class="scroll" href="/faculty/schedule">View Schedule</a>


                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


{{end}}