{{define "FacultyGiveGradesForm"}}
{{template "head"}}

<div class="container">


    {{template "faculty-navbar"}}
    &nbsp;
    <h1>Give Students Grades for Course {{.Course.CourseName}}</h1>
    <hr>

    {{if .}}
    <form action="/faculty/grades/{{.Course.SectionID}}" method="POST">
        {{range .Roster}}
    <div class="course_details">
            <label class="form-group">Student Info</label>
            <input type="text" hidden name="studentId" value="{{.StudentID}}">
            <input type="text" readonly value="{{.FirstName}}"><input type="text" readonly value="{{.LastName}}"><input type="text" readonly value="{{.Status}}">
            <input type="text" placeholder="Enter Letter Grade" name="grade" maxlength="2" pattern="[ABCDF+-]{1,2}">
    </div>
    <hr>
        {{end}}
        <input type="submit" class="btn btn-lg pull-right" value="submit">
    </form>
    {{else}}
    <h1>Error loading course details</h1>
    {{end}}




</div>

{{template "end"}}
{{end}}

