{{define "FacultyGiveGrades"}}
{{template "head"}}

<div class="container">



    <h1>Select Current Course to Give Grades For</h1>

    {{template "faculty-navbar"}}

    {{if .}}
    {{range .}}
    <div class="course_details">
        <p>Course Name: {{.CourseName}}</p>
        <p>Building Name: {{.BuildingName}}</p>
        <p>Room Number: {{.RoomNumber}}</p>
        <p>Time: {{.Time}}</p>
        <p>Meeting Days: {{.MeetingDay}}</p>
        <p>Semester {{.Year}}</p>
        <p>Season {{.Season}}</p>
        <form action="/faculty/grades/{{.SectionID}}"
            method="GET" id="{{.SectionID}}">
            <input type="submit" value="Give Grades"
                   class="btn btn-default pull-right">
        </form>
    </div>
    <hr>
    {{end}}
    {{else}}
    <h1>Error loading course details</h1>
    {{end}}



</div>

{{template "end"}}
{{end}}

