{{define "studentHistory"}}
{{template "head"}}
<div class="container">

    <h1>Welcome {{.FirstName}}</h1>

    <ul class="nav nav-pills center-nav">
        <li role="presentation" class="active"><a href="index.html">Add Course</a></li>
        <li role="presentation"><a href="/admin/student">View Student Schedule</a></li>
        <li role="presentation"><a href="#">View Holds</a></li>
        <li role="presentation"><a href="#">View Transcript</a></li>
        <li role="presentation"><a href="#">View Advisor</a></li>
    </ul>


    <h1>Students History</h1>


</div>
{{template "end"}}
{{end}}