{{define "index"}}
{{template "head"}}
<link href="../style/style-landing.css" rel="stylesheet">

<!--
<div class="container">
        <h1>Welcome to StarFleet Academy</h1>


        <form action="/login" method="GET">
            <input type="submit" value="Go To Login Page" id="submit" class="btn btn-primary pull-right">
        </form>

        <div class="login-error">
            {{.}}
        </div>
</div>
-->


<section id="vision">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Admissions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p>
                    The minimum high school requirements for starfleet admission are outlined below. These requirements apply to all students who are interested in pursuing a degree at Penn State. Depending upon what type of applicant you are, you may also have to meet additional requirements. Please review all applicable requirements prior to applying for admission.
                </p>
                <a href="" style="color:green"> 4 year Degree</a><br/>
                <a href="" style="color:green"> 2 year Degree</a>
                <p><br/>
                    <b>The high school </b>  requirements apply to all students interested in pursuing a degree at Penn State. Based on your applicant type, you may also have to meet additional requirements. Please review all requirements prior to applying for admission.
                </p>
                <p>
                    <b>Admission Requirements for First-Year Applicants Interested in Special Programs </b>Penn State offers several special programs that have additional application requirements for first-year students. Choose a program area below to learn more.

                    <a href="" style="color:green"> Visual and performing arts</a><br />
                    <a href="" style="color:green"> Accelerated Premedical-Medical Program</a>
                </p>
                <p>
                    <b>Additional Information for Applicants with a GED</b> If you did not graduate from high school and earned a GED, regardless of your age or the time that has passed since high school, official high school transcripts through the last year you completed AND an official GED transcript are required.

                    All high school and GED transcripts must be sent directly to Penn State from the high school (educational institution of origin) or GED testing center to be considered official. Students can obtain their official GED through the Department of Education in the state from which the GED was received.

                    The following links are helpful in acquiring the GED transcript:
                </p>
                <a href="" style="color:green"> GED Testing Service</a><br />
                <a href="" style="color:green"> Transcript request form</a>


            </div>
            <div class="col-md-5">
                <img src="../public/pics/Admission.jpg" class="img-responsive center-block" alt="">
            </div>
        </div>
    </div>
</section>

<section id="ico">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Student Life</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p>
                    100% of first-year students and 80% of sophomores, juniors, and seniors live in the 30 residence halls on campus.

                    There are no social fraternities or sororities at Notre Dame - the residence hall is the focus of social, religious, and intramural athletic activities.
                <p>
                    <br />
                    <b>What happens when 8,400 brilliant and involved students get together?</b>  They create clubs and organizations for every interest. They write for The Observer, our student newspaper. They develop their ideas through the Entrepreneurship Society. They motivate at-risk children to pursue their dreams through College Mentors for Kids. With more than 400 student clubs and organizations to choose from, you'll find a number of ways to get involved.
                </p>
                <p>
                    <b>We have so much to learn from each other. </b>Students come from all 50 states and 64 countries worldwide. We believe diversity is a moral and intellectual necessity, and promoting diversity among students, faculty, and staff is an essential part of being a Catholic institution. Diversity enriches our social interactions and intellectual lives by exposing all of us to approaches and frames of reference that challenge our unexamined assumptions.
                </p>
                <p>
                    <b>Additional Information for Applicants with a GED</b> If you did not graduate from high school and earned a GED, regardless of your age or the time that has passed since high school, official high school transcripts through the last year you completed AND an official GED transcript are required.

                    All high school and GED transcripts must be sent directly to Penn State from the high school (educational institution of origin) or GED testing center to be considered official. Students can obtain their official GED through the Department of Education in the state from which the GED was received.

                    The following links are helpful in acquiring the GED transcript:
                </p>


            </div>
            <div class="col-md-5">

                <img src="../public/pics/studentlife1.jpg" class="img-responsive center-block" alt=""><br />
                <img src="../public/pics/studentlife3.jpg" style="width:1000px;height:200px" class="img-responsive center-block" alt=""><br />
            </div>
        </div>
    </div>
</section>
<section id="bounties">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p>
                    ●	There are two types of faculty members in our system, part time and full time.<br/>
                    ●	Part-time faculty members may teach only 1 - 2 classes.<br />
                    ●	Full-time professors may teach anywhere from 3-5 classes.<br />
                    ●	Faculty will be allowed to see one or multiple courses they are teaching for both the current and previous semesters.<br />
                    ●	The system will forbid faculty members from teaching concurrent courses.<br />
                    ●	Faculty is also allowed to view all the current students registered to their courses and view their transcripts.<br />
                    ●	Faculty is the only role in the system that is allowed to give students their course grades within a limited time.<br />
                    ●	A student may receive only one singular grade for the course.<br />
                    ●	Faculty is forbidden from altering grades outside the time allotted by administration.<br />

                </p>

                <p>
                    <br />
                    <b>Administration Overview </b>Administration users have the least restrictions placed on what they can do. Many of the features of Administrators are granted to other users as well. They can perform all the actions which students can do on behalf of a student in the system, such as enrolling or dropping a student from a course, checking student schedules, viewing holds placed on a student, and viewing student grades and transcripts. Administrators can also perform actions otherwise granted only to faculty, such as viewing a course roster. Admins can also view the courses being taught by a faculty member </p>
                <p>
                    <b>Admission Requirements for First-Year Applicants Interested in Special Programs </b>Penn State offers several special programs that have additional application requirements for first-year students. Choose a program area below to learn more.



            </div>
            <div class="col-md-5">
                <img src="../public/pics/aboutus.jpg" class="img-responsive center-block" alt="">
            </div>
        </div>
    </div>

</section>


<!-- Team Section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Alumni</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p>
                    100% of first-year students and 80% of sophomores, juniors, and seniors live in the 30 residence halls on campus.

                    There are no social fraternities or sororities at Notre Dame - the residence hall is the focus of social, religious, and intramural athletic activities.
                <p>
                    <br />
                    <b>What happens when 8,400 brilliant and involved students get together?</b>  They create clubs and organizations for every interest. They write for The Observer, our student newspaper. They develop their ideas through the Entrepreneurship Society. They motivate at-risk children to pursue their dreams through College Mentors for Kids. With more than 400 student clubs and organizations to choose from, you'll find a number of ways to get involved.
                </p>
                <p>
                    <b>We have so much to learn from each other. </b>Students come from all 50 states and 64 countries worldwide. We believe diversity is a moral and intellectual necessity, and promoting diversity among students, faculty, and staff is an essential part of being a Catholic institution. Diversity enriches our social interactions and intellectual lives by exposing all of us to approaches and frames of reference that challenge our unexamined assumptions.
                </p>
                <p>
                    <b>Additional Information for Applicants with a GED</b> If you did not graduate from high school and earned a GED, regardless of your age or the time that has passed since high school, official high school transcripts through the last year you completed AND an official GED transcript are required.

                    All high school and GED transcripts must be sent directly to Penn State from the high school (educational institution of origin) or GED testing center to be considered official. Students can obtain their official GED through the Department of Education in the state from which the GED was received.

                    The following links are helpful in acquiring the GED transcript:
                </p>


            </div>
            <div class="col-md-5">

                <img src="../public/pics/Alumini.jpg" class="img-responsive center-block" alt=""><br />
            </div>
        </div>
    </div>
</section>

<!-- Advisors Section -->


{{template "end"}}
{{end}}