{{define "masterSchedule"}}
{{template "head"}}


<div class="contact-w3-agileits" id="contact" >
    <div class="container">
        <div class="col-md-12 contact-left-w3l" >
            <h3>Class Shedule Search</h3>
            <div class="visit">

                <div class="clearfix"></div>
            </div>



            <div class="col-md-8 contact-left-w3l">

                <label class="form-group">Subjects</label>
                <select name="subject" class="form-control">


                    <option value="saab">American Studies</option>
                    <option value="fiat">Biological Sciences</option>
                    <option value="audi">Chemistry and Physics </option>
                    <option value="audi">Community Learning </option>
                    <option value="audi">Computer Science </option>
                    <option value="audi">Criminology </option>
                    <option value="audi">English </option>
                    <option value="audi">First-Year Experience </option>
                    <option value="audi">Health and Society </option>
                </select><br/>
                <label class="form-group">Course Number</label>
                <input type="text" class="form-control" name="name" placeholder="" required=""><br />

                <label class="form-group">Title</label>
                <input type="text" class="form-control" name="name" placeholder="" required=""><br />

                <label class="form-group">Instructional Method</label>
                <select name="subject" class="form-control">

                    <option value="saab">Hybrid Courses</option>
                    <option value="fiat">Online Courses</option>

                </select> <br />
                <label class="form-group">Credit Range</label>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="text" class="form-control input-sm" name="name" placeholder="Hours from" required="">
                    </div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control input-sm" name="name" placeholder="Hours to" required="">
                    </div>

                </div>
                <br />
                <label class="form-group">Part of Term(Non-date based courses only)</label><br/>

                <select name="subject" class="form-control">

                    <option value="saab">1st half of term</option>
                    <option value="fiat">2nd half of term</option>

                </select> <br />
                <label class="form-group">Instructor</label><br />

                <select name="subject" class="form-control">

                    <option value="saab">Adams, Michael</option>
                    <option value="fiat">Adams, Robert M</option>

                </select> <br />
                <label class="form-group">Attribute Type</label><br />

                <select name="subject" class="form-control">

                    <option value="saab">AL Service Learning</option>
                    <option value="fiat">AL Civic Engagement</option>

                </select> <br />
                <label class="form-group">Start time</label><br />
                <div class="row">
                    <div class="col-xs-4">
                        <select name="subject" class="form-control">

                            <option value="saab">Hours</option>
                            <option value="fiat">1</option>
                            <option value="fiat">2</option>
                            <option value="fiat">3</option>
                            <option value="fiat">4</option>
                            <option value="fiat">5</option>
                            <option value="fiat">6</option>
                            <option value="fiat">7</option>
                            <option value="fiat">8</option>
                            <option value="fiat">9</option>
                            <option value="fiat">10</option>
                            <option value="fiat">11</option>
                            <option value="fiat">12</option>
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <select name="subject" class="form-control">

                            <option value="saab">Minutes</option>
                            <option value="fiat">1</option>
                            <option value="fiat">2</option>
                            <option value="fiat">3</option>
                            <option value="fiat">4</option>
                            <option value="fiat">5</option>
                            <option value="fiat">6</option>
                            <option value="fiat">7</option>
                            <option value="fiat">8</option>
                            <option value="fiat">9</option>
                            <option value="fiat">10</option>
                            <option value="fiat">11</option>
                            <option value="fiat">12</option>
                            <option value="fiat">13</option>
                            <option value="fiat">14</option>
                            <option value="fiat">15</option>
                            <option value="fiat">16</option>
                            <option value="fiat">17</option>
                            <option value="fiat">18</option>
                            <option value="fiat">19</option>
                            <option value="fiat">20</option>
                            <option value="fiat">21</option>
                            <option value="fiat">22</option>
                            <option value="fiat">23</option>
                            <option value="fiat">24</option>
                            <option value="fiat">25</option>
                            <option value="fiat">26</option>
                            <option value="fiat">27</option>

                            <option value="fiat">28</option>
                            <option value="fiat">29</option>
                            <option value="fiat">30</option>
                            <option value="fiat">31</option>
                            <option value="fiat">32</option>
                            <option value="fiat">33</option>
                            <option value="fiat">34</option>
                            <option value="fiat">35</option>
                            <option value="fiat">36</option>
                            <option value="fiat">37</option>
                            <option value="fiat">38</option>
                            <option value="fiat">39</option>
                            <option value="fiat">40</option>
                            <option value="fiat">41</option>
                            <option value="fiat">42</option>
                            <option value="fiat">43</option>
                            <option value="fiat">44</option>
                            <option value="fiat">45</option>
                            <option value="fiat">46</option>
                            <option value="fiat">47</option>
                            <option value="fiat">48</option>
                            <option value="fiat">49</option>
                            <option value="fiat">50</option>
                            <option value="fiat">51</option>
                            <option value="fiat">52</option>
                            <option value="fiat">53</option>
                            <option value="fiat">54</option>
                            <option value="fiat">55</option>
                            <option value="fiat">56</option>
                            <option value="fiat">57</option>
                            <option value="fiat">58</option>
                            <option value="fiat">59</option>
                            <option value="fiat">60</option>

                            <option value="fiat">28</option>
                            <option value="fiat">29</option>

                        </select> <br />
                    </div>
                    <div class="col-xs-4">
                        <select name="subject" class="form-control">

                            <option value="saab">Am</option>
                            <option value="fiat">Pm</option>

                        </select>
                    </div>

                </div>
                <label class="form-group">Days</label><br />
                <div class="row">
                    <div class="col-lg-2">
                        <input type="checkbox" value="Monday" />Monday
                    </div>
                    <div class="col-lg-2">
                        <input type="checkbox" value="Tuesday" />Tuesday
                    </div>
                    <div class="col-lg-2">
                        <input type="checkbox" value="Wednesday" />Wednesday
                    </div>
                    <div class="col-lg-2">
                        <input type="checkbox" value="Thursday" />Thursday
                    </div>
                    <div class="col-lg-2">
                        <input type="checkbox" value="Friday" />Friday
                    </div>
                    <div class="col-lg-2">
                        <input type="checkbox" value="Saturday" />Saturday
                    </div><br/><br />
                    <div class="col-lg-2">
                        <input type="checkbox" value="Sunday" />Sunday
                    </div>
                </div><br/>


                <input type="button" class="btn-success"  value="Class Search">
                <input type="button" class="btn-success" value="Reset">
            </div>

        </div>
    </div>
</div>

{{template "end"}}

{{end}}