{{define "student-navbar"}}


<div class="container">

    <h1>Welcome {{.FirstName}}</h1>

    <ul class="nav nav-pills center-nav">
        <li role="presentation" class="active"><a href="index.html">Add Course</a></li>
        <li role="presentation"><a href="/student/schedule/{{.UserID}}">View Schedule</a></li>
        <li role="presentation"><a href="#">View Holds</a></li>
        <li role="presentation"><a href="#">View Transcript</a></li>
        <li role="presentation"><a href="#">View Advisor</a></li>
    </ul>

</div>

{{end}}